@media(max-width: 1400px) {
  
}
@media(max-width: 1200px) {
  
}
@media(max-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(300px, auto);
    gap: 30px;
    margin-top: 40px;
    position: relative;
    grid-auto-flow: dense;
  }
  .link__main {
    min-height: 100vh;
  }
  .header__start {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(300px, auto);
    gap: 30px;
    margin-top: 40px;
    position: relative;
    grid-auto-flow: dense;
  }
  /* .header__content {
    min-height: 100vh;
  } */

  .header__content {
    position: static;
  }
}
@media(max-width: 981px) {
  .nav__wrenk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media(max-width: 768px) {
  .nav__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}
@media(max-width: 576px) {}
@media(max-width: 480px) {}
@media(max-width: 320px) {}